body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: pink;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.content-box {
    width: 95%;
    max-width: 600px;
}

header {
    text-align: center;
    margin-bottom: 25px;
}

.qa-wrapper {
    background: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    margin-bottom: 12px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.02);
    transition: 0.3s;
}

.question-top {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    color: #2d3436;
}

.question-top:hover {
    background-color: #f9f9ff;
}

.state-icon {
    font-size: 1.2rem;
    color: var(--theme-color);
    font-weight: bold;
}

.answer-bottom {
    max-height: 0;
    opacity: 0;
    padding: 0 20px;
    color: #636e72;
    line-height: 1.5;
    transition: all 0.4s ease-in-out; 
}

.qa-wrapper.is-active {
    border-color: var(--theme-color);
    box-shadow: 0 4px 12px rgba(108, 92, 231, 0.1);
}

.qa-wrapper.is-active .answer-bottom {
    max-height: 200px; 
    opacity: 1;
    padding: 10px 20px 25px 20px;
}